#content{
  min-height: 200px;
  margin-left: 14em;
}

#page{
  margin-left: auto;
  margin-right: auto;
  width: 60em;
  border: 2px solid; 
}

#header-navigation{
  float: left;
  width: 14em;
  background: #fed;
}


h1{
  text-align: center;
}
