

#webace{
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  position: fixed;
  top: 2000px;
  left: 0px;
  width: 400px;
  margin-left: 20px;
  background: #def;
  border: 1px solid;
  border-bottom: none;
  z-index: 5000000000;
  border-radius: 10px 10px 0 0 ;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -khtml-border-radius: 10px 10px 0 0 
  font-size: 100%;
  box-shadow: -6px 6px rgba(0,0,0,0.3);
}


#webaceContent{
  background: #def;
  height: 20000px;
  overflow-x: auto;
  overflow-y: auto;
  padding-left: 1em;
  padding-right: 1em;
}

#webace h1 a{
  text-decoration: none;
  color: #00f;
}
#webace h1 a:hover{
  color: #00f;
}
#webace h1{
  text-shadow: #008 -1px 1px 2px;
  font: 30px/1.231 'Oleo Script', cursive,arial,helvetica,clean,sans-serif;
  color: black;
  border-bottom: 1px solid;
  margin: 0;
  text-align: center;
  background: #def;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -khtml-border-radius: 10px 10px 0 0;
  margin-top: 0;
  padding-top: 0;
}

#webace hr{
  clear: left;
  color: black;
  background-color: black;
  height: 1px;
  width: 100%;
}

#webaceTextInput{
  border-top: 1px solid;
  text-align: center;
}

.webaceAvatarImg{
  width: 80px;
}

.webaceAvatar{
  float: left;
  padding: 2px;
  width: 100px;
  overflow: hidden;
  border: 1px solid;
  margin: 2px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  -webkit-border-radius: 5px
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  box-shadow: -4px 4px #abc;
}

.webaceDate{
  font: 8px/1.231 arial,helvetica,clean,sans-serif;
  font-style: italic;
}
.webaceToPage{
  font: 8px/1.231 arial,helvetica,clean,sans-serif;
  font-style: bold;
  width: 100%;
  display: block;
  background-color: #fdd;
  border: 1px solid #f88;
  box-shadow: -2px 2px #abc;
  padding: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  overflow: hidden;
}


.webaceActionLink{
  text-align: center;
  display: block;
}
.webaceActionLink::before{
  content: "\21D1"; /*Hexadecimal for Unicode down arrow (&dArr;)*/
  display: inline;
}
.webaceActionLink::after{
  content: "\21D1"; /*Hexadecimal for Unicode down arrow (&dArr;)*/
  display: inline;
}

#webace dt{
  color: red;
  font-weight: bold;
}
#webace b{
  font-family: 'Oleo Script', cursive,arial,helvetica,clean,sans-serif;
  font-weight: normal;
}

#webaceHandle{
}
